/* Do not display reset / back buttons initially  */
.main-content {
  top: 100px;
  position: relative;
}

.control-button {
  font-size: large;
  cursor: pointer;
  margin: 15px;
  color: #a4a4a4;
}

.control-button.active {
  color: black;;
}

.control-button.active:hover {
  color: #a4a4a4;
}

.tooltip-inner {
  font-size: 14px;
  background: #a4a4a4;
}
