.parent {
  margin-bottom: 20px;
}

.choice {
  border-radius: 6px;
  border: 1px grey solid;
  padding: 10px;
  margin-top: 5px;
  width: 96%;
  left: 2%;
}

.choice:hover {
  background-color: rgba(199, 179, 201, 0.7);
  cursor: pointer;
}

.button-bar {
  margin-top: 20px;
}
