.parent {
  margin-bottom: 40px;
  /* width: 70%; */
  /* left: 15%; */
}

.continue-button {
  left: 50%;
  position: relative;
  margin-top: 10px;
}

.choice {
  height: 100px !important;
  border-radius: 6px;
  border: 0.3em grey solid;
  padding: 10px;
  margin-top: 5px;
  /* width: 70%; */
  /* left: 15%; */
}

.choice:hover {
  background-color: rgba(199, 179, 201, 0.7);
  cursor: pointer;
}

.button-bar {
  margin-top: 20px;
  position: relative;
  /* width: 70%; */
  /* left: 15%; */
}
